
.container{
    background-color: rgb(219, 222, 223);
    padding: 40px;
    border-radius: 15px;
   
    width: 500px;
    margin-top: 50px;
  
}
input{
    width: 350px;
}
button{
    margin-top: 10px;
    margin-left: 85px;
}
.slider{
    display: none;
}