<div class="container">
    <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                        <img src="../../assets/images/novo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                    
                        <a href="#" class="btn bg-dark" style="color: white" routerLink="../novoProduto">Adicionar Novo produto</a>
                        </div>
                    </div>

                  
        

                    </div>

        </div>
</div>

